
@{
    ViewBag.Title = "Male";
    Layout = "~/Views/Shared/layout2.cshtml";
}

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col-md-3">
        <div class="card">
            <div class="header">
                30% OFF
            </div>
            <img src="~/images/Mens/kurta.jpeg" width="305px" height="200px" />
            <center>
                <div class="card-body">
                    <h5 class="card-title">Mens Kurta</h5>
                    <p class="card-text"> Wedding Special</p>

                    <span class="card-text"><b>Price</b>   <h5 class="text-decoration-underline"> 1199/-</h5> </span>
                    <p class="card-text text-decoration-line-through">1500/-</p>

                </div>
                <div class="card-footer">

                    <input type="button" id="btn" class="btn btn-primary" value="Add To Card" />
                </div>
            </center>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="header">
                40% OFF
            </div>
            <img src="~/images/Mens/men2.jpeg" width="305px" height="200px" />

            <center>
                <div class="card-body">
                    <h5 class="card-title">Men Shirt </h5>
                     
                    <p class="card-text"> Fastival Special </p>

                    <span class="card-text"><b>Price</b>   <h5 class="text-decoration-underline"> 999/-</h5> </span>
                    <p class="card-text text-decoration-line-through">1500/-</p>

                </div>
                <div class="card-footer">

                    <input type="button" id="btn" class="btn btn-primary" value="Add To Card" />
                </div>
            </center>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="header">
               
                50% OFF
            </div>
            <img src="~/images/Mens/men10.jpeg" width="305px" height="200px" />
            <center>
                <div class="card-body">
                    <h5 class="card-title">Men Pant</h5>

                    <p class="card-text"> Latest model</p>

                    <span class="card-text"><b>Price</b>   <h5 class="text-decoration-underline"> 999/-</h5> </span>
                    <p class="card-text text-decoration-line-through">1999/-</p>

                </div>
                <div class="card-footer">

                    <input type="button" id="btn" class="btn btn-primary" value="Add To Card" />
                </div>
            </center>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="header">
                50% OFF
            </div>

            <img src="~/images/Mens/men.jpg" width="305px" height="200px" />
            <center>
                <div class="card-body">
                    <h5 class="card-title">Mens Dress</h5>
                    <p class="card-text"> Latest Trending</p>

                    <span class="card-text"><b>Price</b>   <h5 class="text-decoration-underline"> 1499/-</h5> </span>
                    <p class="card-text text-decoration-line-through">2999/-</p>

                </div>
                <div class="card-footer">

                    <input type="button" id="btn" class="btn btn-primary" value="Add To Card" />
                </div>
            </center>
        </div>
    </div>
</div>
<br/>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col-md-3">
        <div class="card">
            <div class="header">
                40% OFF
            </div>
            

            <img src="~/images/Mens/men3.jpeg" width="305px" height="200px" />
            <center>
                <div class="card-body">
                    <h5 class="card-title">Mens Kurta</h5>
                    <p class="card-text"> Latest Trending</p>

                    <span class="card-text"><b>Price</b>   <h5 class="text-decoration-underline"> 1999/-</h5> </span>
                    <p class="card-text text-decoration-line-through">2999/-</p>

                </div>
                <div class="card-footer">

                    <input type="button" id="btn" class="btn btn-primary" value="Add To Card" />
                </div>
            </center>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="header">
                35% OFF
            </div>
             
            <img src="~/images/Mens/men5.jpeg"  width="305px" height="200px" />
            <center>
                <div class="card-body">
                    <h5 class="card-title">Mens Shirt </h5>
                    <p class="card-text">This for  25+ years old mens </p>

                    <span class="card-text"><b>Price</b>   <h5 class="text-decoration-underline"> 799/-</h5> </span>
                    <p class="card-text text-decoration-line-through">1299/-</p>

                </div>
                <div class="card-footer">

                    <input type="button" id="btn" class="btn btn-primary" value="Add To Card" />
                </div>
            </center>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="header">
                50% OFF
            </div>


            <img src="~/images/Mens/men9.jpeg" width="305px" height="200px" />
            <center>
                <div class="card-body">
                    <h5 class="card-title">T-Shirt</h5>
                    <p class="card-text"> Awesome Look</p>

                    <span class="card-text"><b>Price</b>   <h5 class="text-decoration-underline"> 499/-</h5> </span>
                    <p class="card-text text-decoration-line-through">999/-</p>

                </div>
                <div class="card-footer">

                    <input type="button" id="btn" class="btn btn-primary" value="Add To Card" />
                </div>
            </center>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="header">
                40% OFF
            </div>

            <img src="~/images/Mens/men7.jpeg"  width="305px" height="200px" />
            <center>

                <div class="card-body">
                     
                    <h5 class="card-title">Pant</h5>
                    <p class="card-text"> festival special</p>

                    <span class="card-text"><b>Price</b>   <h5 class="text-decoration-underline"> 999/-</h5> </span>
                    <p class="card-text text-decoration-line-through">1499/-</p>

                </div>
                <div class="card-footer">

                    <input type="button" id="btn" class="btn btn-primary" value="Add To Card" />
                </div>
            </center>
        </div>
    </div>
</div>
