
@{
    ViewBag.Title = "Women";
    Layout = "~/Views/Shared/layout2.cshtml";
}

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col-md-3">
        <div class="card">
            <div class="header">
                70% OFF
            </div>
           
            <img src="~/images/Women/women.jpeg"  width="=305px" height="200px" />

            <center>
                <div class="card-body">
                    <h5 class="card-title">Top</h5>
                    <p class="card-text"> Womens Special</p>

                    <span class="card-text"><b>Price</b>   <h5 class="text-decoration-underline"> 1499/-</h5> </span>
                    <p class="card-text text-decoration-line-through">3499/-</p>
                </div>
                <div class="card-footer">

                    <input type="button" id="btn" class="btn btn-primary" value="Add To Card" />
                    </div>
            </center>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="header">
                35% OFF
            </div>
            
            <img src="~/images/Women/women1.jpeg"  width="=305px" height="200px" />

            <center>
                <div class="card-body">
                    <h5 class="card-title">Women</h5>
                    <p class="card-text"> This is for 20+ years old womens</p>

                    <span class="card-text"><b>Price</b>   <h5 class="text-decoration-underline"> 1999/-</h5> </span>
                    <p class="card-text text-decoration-line-through">2499/-</p>
                </div>
                <div class="card-footer">

                    <input type="button" id="btn" class="btn btn-primary" value="Add To Card" />
                    </div>
            </center>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="header">
                25% OFF
            </div>
            <img src="~/images/Women/women3.jpeg" width="=305px" height="200px" />

            <center>

                <div class="card-body">
                    <h5 class="card-title">Womens</h5>
                    <p class="card-text"> Wedding Special</p>

                    <span class="card-text"><b>Price</b>   <h5 class="text-decoration-underline"> 2999/-</h5> </span>
                    <p class="card-text text-decoration-line-through">4999/-</p>
                </div>
                <div class="card-footer">

                    <input type="button" id="btn" class="btn btn-primary" value="Add To Card" />
                    </div>
            </center>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="header">
                50% OFF
            </div>
            <img src="~/images/Women/women7.jpeg" width="=305px" height="200px" />

            <center>
                <div class="card-body">
                   
                    <h5 class="card-title">Women</h5>
                    <p class="card-text"> fastival Special</p>

                    <span class="card-text"><b>Price</b>   <h5 class="text-decoration-underline"> 999/-</h5> </span>
                    <p class="card-text text-decoration-line-through">1999/-</p>
                </div>
                <div class="card-footer">

                    <input type="button" id="btn" class="btn btn-primary" value="Add To Card" />
                    </div>
            </center>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col-md-3">
        <div class="card">
            <div class="header">
                30% OFF
            </div>

            <img src="~/images/Women/women6.jpeg"  width="305px" height="200px" />
            <center>

               <div class="card-body">
                    <h5 class="card-title">Shirts For Womens</h5>
                    <p class="card-text"> Latest Trending</p>

                    <span class="card-text"><b>Price</b>   <h5 class="text-decoration-underline"> 699/-</h5> </span>
                    <p class="card-text text-decoration-line-through">999/-</p>

                </div>
                <div class="card-footer">

                    <input type="button" id="btn" class="btn btn-primary" value="Add To Card" />
                </div>
            </center>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="header">
                35% OFF
            </div>

            <img src="~/images/Women/women5.jpeg" width="305px" height="200px" />
            <center>
                <div class="card-body">
                    <h5 class="card-title">Modern saree </h5>
                    <p class="card-text">This for 30+ year old Womens </p>

                    <span class="card-text"><b>Price</b>   <h5 class="text-decoration-underline"> 1499/-</h5> </span>
                    <p class="card-text text-decoration-line-through">2499/-</p>

                </div>
                <div class="card-footer">

                    <input type="button" id="btn" class="btn btn-primary" value="Add To Card" />
                </div>
            </center>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="header">
                35% OFF
            </div>

         
            <img src="~/images/Women/women5.jpeg"  width="305px" height="200px" />
            <center>
                <div class="card-body">
                    <h5 class="card-title">saree</h5>
                    <p class="card-text"> Formal Saree for Womens</p>

                    <span class="card-text"><b>Price</b>   <h5 class="text-decoration-underline"> 1499/-</h5> </span>
                    <p class="card-text text-decoration-line-through">2499/-</p>

                </div>
                <div class="card-footer">

                    <input type="button" id="btn" class="btn btn-primary" value="Add To Card" />
                </div>
            </center>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="header">
                75% OFF
            </div>

            <img src="~/images/Women/women8.jpeg" width="305px" height="200px" />
            <center>
              
                <div class="card-body">
                    <h5 class="card-title">Top</h5>
                    <p class="card-text"> Latest Trending</p>

                    <span class="card-text"><b>Price</b>   <h5 class="text-decoration-underline"> 999/-</h5> </span>
                    <p class="card-text text-decoration-line-through">3999/-</p>

                </div>
                <div class="card-footer">

                    <input type="button" id="btn" class="btn btn-primary" value="Add To Card" />
                </div>
            </center>
        </div>
    </div>
</div>
